* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

/* Estilos para o botão */
.button-add-task {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
    margin-top: -39px;
    margin-left: 330px;

}

/* Estilos para o pseudo-elemento span dentro do botão */
.button-add-task span {
    position: absolute;
    /* Posiciona o span em relação ao botão */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    /* Fundo transparente */
    z-index: -1;
    /* Coloca o span atrás do texto do botão */
    border: 4px solid royalblue;
    /* Borda azul ao redor do botão */
}

/* Estilos para o pseudo-elemento ::before dentro do span */
.button-add-task span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    /* Largura inicial da faixa */
    height: 500%;
    /* Altura da faixa */
    background: var(--lightgray);
    /* Cor inicial de fundo */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    /* Centraliza e rotaciona a faixa */
    transition: all 0.3s;
    /* Transição suave para as mudanças */
}

/* Estilos ao passar o mouse sobre o botão */
.button-add-task:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    /* Rotaciona e ajusta a faixa */
    width: 100%;
    /* Expande a faixa para preencher o botão */
    background: royalblue;
    /* Cor de fundo ao passar o mouse */
}

.button-add-task:hover {
    color: white;
    /* Cor do texto ao passar o mouse */
}

/* Estilos ao clicar no botão */
.button-add-task:active span::before {
    background: #2751cd;
    /* Cor de fundo ao clicar */
}